/* h1 {
  color: blue;
} */

* {
  /* padding: 100; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* This would be the DEFAULT font-size */
  /* font-size: 10px; */
  /* 10 px / 16px = 0.652 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  color: #444;
}

body {
  width: 100%;
  height: auto;
}

/* h1 {
  font-size: 5rem;
} */

.container {
  /* 120rem * 10px(62.5%)= 1200px */
  max-width: 120rem;
  /*Aligns our content in the center*/
  margin: 0 auto;
  /* Position set to relative to help position our buttons */
  position: relative;
}

.header {
  /* background-color: rgb(202, 201, 201); */
  color: rgb(0, 141, 35);
  display: flex;
  align-items: center;
  /* background-color: rgb(38, 185, 1, 0.5); */

  /* 0 padding top/bot. & 40px padding left/right */
  padding: 2rem 4rem;
  /* Separates our logo placeholder and nav list items */
  justify-content: space-between;
}

/*******************************************/
/* BUTTONS */
/*******************************************/

/* color change when cursor is on button */
.nav-btn:hover {
  background-color: rgb(119, 119, 119, 0.2);
}

/* Color on click */
.nav-btn:active {
  background-color: rgb(0, 141, 35, 0.8);
  color: #fff;
}

.nav-btn {
  text-decoration: none;
  display: inline-block;
  justify-content: space-around;
  font-weight: 800;
  color: rgb(0, 141, 35, 0.8);

  /* padding to allow text to fit */
  /* padding: 1rem; */
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  /* Adds Colored Border to our button */
  border: 0.25rem solid rgb(0, 141, 35, 0.8);
  /* Rounds button corners */
  border-radius: 1rem;
}

.main-nav {
  justify-content: space-between;
}

.nav-list {
  /* displays list in horizontal direction */
  display: flex;
  /* remove bulletpoints */
  list-style: none;
  /* create gap between list items */
  gap: 2rem;
  /* increase font-size of nav buttons */
  font-size: 1.2rem;
}

/*******************************************/
/* GRID SECTION */
/*******************************************/

.grid-col-2 {
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

/*******************************************/
/* HERO SECTION */
/*******************************************/

.hero-banner {
  /* setting position relative to position our Hero Title & Message on top of image */
  position: relative;

  /* background-image: linear-gradient(rgba(202, 4, 4, 0.9)),
  url(img/heroImage2.jpg); */
}

.hero-title {
  /* moves text to center of container */
  color: rgba(255, 255, 255, 0.87);
  text-align: center;

  /* Positioning title onto our hero image */
  position: absolute;
  top: 40%;
  width: 100%;
}

.hero-message {
  /* moves text to center of container */
  color: rgba(255, 255, 255, 0.87);
  text-align: center;

  /* Positioning Message onto our hero image */
  position: absolute;
  top: 60%;
  width: 100%;
}

.hero-img {
  width: 100%;
  /* height: 90rem; */
  height: 80rem;
  /* background-size: cover; */
}

.section-hero {
  /* max-width keeps it at 130rem max
  margin 0 auto gives margin on left and right automatically adjusted to keep our container in the middle when we shrink and stretch the viewport */
  max-width: 130rem;
  margin: 0 auto;

  font-size: 4rem;
  align-items: center;
  justify-content: center;
  /* background: rgb(74, 74, 167, 0.2); */
  /* background-size: cover; */
}

/*******************************************/
/* GENERAL SECTION */
/*******************************************/

.center {
  /* centers item for us */
  text-align: center;
}

/*******************************************/
/* ADVENTURE TYPE SECTION */
/*******************************************/

.section-adventurer {
  font-size: 2rem;
  display: grid;

  justify-content: space-between;
  margin-bottom: 4rem;
  /* border: 0.2rem solid rgb(0, 141, 35); */
  gap: 3rem;
}

.adventurer-title {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.calm-adventurer {
  /* background-color: #999; */
  /* border: 0.3rem solid rgb(0, 141, 35); */
  border: solid;
  padding: 2rem;
}

.ultimate-adventurer {
  /* background-color: #999; */
  border-color: 2rem solid green;
  /* border: 0.3rem rgb(0, 141, 35); */
  border: solid;
  padding: 2rem;
}

.adventurer-header {
  text-align: center;
}

.adventurer-btn {
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  color: rgb(0, 141, 35, 0.8);
  border: 0.25rem solid rgb(0, 141, 35);
  border-radius: 7px;
}

.adventurer-list {
  padding: 2rem;
  list-style: none;
}

.adventurer-btn:hover {
  background-color: rgb(119, 119, 119, 0.2);
}

/* Color on click */
.adventurer-btn:active {
  background-color: rgb(0, 141, 35, 0.8);
  color: #fff;
}

/*******************************************/
/* MEMBER SECTION */
/*******************************************/

.member {
  /* background-color: #999; */
  margin-bottom: 2rem;
  /* border: 0.4rem solid rgb(0, 141, 35);
   */
  border: solid;
  padding: 1rem;
  padding-bottom: 5rem;
}

.member-header {
  font-size: 5.5rem;
  margin-bottom: 1rem;
}

.member-title {
  margin-bottom: 1rem;
}

.perks-list {
  list-style: none;
  line-height: 3.5rem;
  font-size: 1.5rem;
}

/* .member-container {
  position: relative;
} */

.member-btn {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  color: rgb(0, 141, 35, 0.8);
  border: 0.25rem solid rgb(0, 141, 35);
  border-radius: 7px;

  /* positioning button at bottom/center of container */
  position: absolute;
  bottom: 5%;
  right: 44%;
}

.member-description {
  font-size: 1.5rem;
}
