/* COLORS USED: 
BACKGROUND
#f6f8fb

background: linear-gradient( to right, rgba(0, 141, 35, 0.7), rgba(0, 98, 189, 0.7));
rgb(0, 132, 255)

TEXT
#444

BUTTONS
rgb(0, 141, 35, 0.8)

TO LINK A BUTTON TO THE SECTION OF A PAGE
-Give section div an id-> ex.) member-section = id="member-section"
-button - href="#member-section"

/*
/* h1 {
  color: blue;
} */

* {
  /* padding: 100; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* This would be the DEFAULT font-size */
  /* font-size: 10px; */
  /* 10 px / 16px = 0.652 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  color: #444;
  /* To give our buttons smooth scrolling to sections */
  scroll-behavior: smooth;
  /* background-color: rgba(3, 122, 39, 0.527); */
  /* background: linear-gradient(
    to right,
    rgba(0, 141, 35, 0.6),
    rgba(0, 98, 189, 0.6)
  ); */
  /* background-color: #555; */
}

body {
  font-family: "Rubik", sans-serif;
  /* font-family: "Rubik", sans-serif; */
  /* width: 100%; */
  width: 100vw;
  height: auto;
}

/* h1 {
  font-size: 5rem;
} */

.container {
  /* 120rem * 10px(62.5%)= 1200px */
  max-width: 120rem;
  /*Aligns our content in the center*/
  margin: 0 auto;
  /* Position set to relative to help position our buttons
  position: relative; */
}

.header {
  /* background-color: rgb(202, 201, 201); */
  display: flex;
  align-items: center;
  padding: 2rem 4rem;

  /* Separates our logo placeholder and nav list items */
  justify-content: space-between;

  /* adds color to bottom of block for separation */
  border-bottom: 0.25rem solid rgb(0, 141, 35, 0.8);
  color: rgb(0, 141, 35);
  /* background-color: #f6f8fb; */
  /* background-color: rgba(118, 119, 118, 0.616); */
  /* background: linear-gradient(
    to right,
    rgba(0, 141, 35, 0.7),
    rgba(0, 98, 189, 0.7)
  ); */

  background: linear-gradient(to right, #f6f8fb, rgba(151, 151, 151, 0.74));
  /* background: linear-gradient(to right, #e66465, #9198e5); */
  /* background-color: rgb(0, 190, 149); */
}

/*******************************************/
/* BUTTONS */
/*******************************************/

.nav-btn {
  text-decoration: none;
  display: inline-block;
  justify-content: space-around;
  font-weight: 800;
  color: rgb(0, 141, 35, 0.8);

  /* padding to allow text to fit */
  /* padding: 1rem; */
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  /* Adds Colored Border to our button */
  /* border: 0.25rem solid rgb(0, 141, 35, 0.8); */
  /* Rounds button corners */
  /* border-radius: 1rem; */
}

/* Color on hover/click */
.nav-btn:hover,
.nav-btn:active {
  /* background-color: rgb(0, 141, 35, 0.8); */
  color: #fff;
}

.nav-btn-book {
  text-decoration: none;
  display: inline-block;
  justify-content: space-around;
  font-weight: 600;
  color: #fff;
  background-color: rgb(0, 141, 35);

  /* padding to allow text to fit */
  /* padding: 1rem; */
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  /* Adds Colored Border to our button */
  border: 0.25rem solid rgb(0, 141, 35, 0.8);
  /* Rounds button corners */
  border-radius: 1rem;
}

.nav-btn-book:hover,
.nav-btn-book:active {
  background-color: rgb(1, 133, 34);
  background-color: none;
  color: #fff;
  /* border-color: #fff; */
}

.main-nav {
  justify-content: space-between;
}

.nav-list {
  /* displays list in horizontal direction */
  display: flex;
  /* remove bulletpoints */
  list-style: none;
  /* create gap between list items */
  gap: 2rem;
  /* increase font-size of nav buttons */
  font-size: 1.6rem;
}

/*******************************************/
/* GRID SECTION */
/*******************************************/

.grid-col-2 {
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

/*******************************************/
/* HERO SECTION */
/*******************************************/

.section-hero {
  /* max-width keeps it at 130rem max
  margin 0 auto gives margin on left and right automatically adjusted to keep our container in the middle when we shrink and stretch the viewport */
  max-width: 100%;
  max-height: 80rem;
  margin: 0 auto;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  /* background-size: cover; */
  margin-bottom: 2rem;

  /* Original Hero Image */
  background-image: linear-gradient(
      to right,
      rgba(34, 34, 34, 0.2),
      rgba(34, 34, 34, 0.2)
    ),
    url("../img/heroImage4.jpg");

  /* background-image: linear-gradient(
      to top right,
      rgba(100, 100, 100, 0.0),
      rgba(97, 97, 97, 0.0)
    ),
    url("../img/pricing-calm3.jpg"); */
}

.hero-img {
  /* width: 100%; */
  width: 0%;
  height: 80rem;
}

.hero-banner {
  /* setting position relative to position our Hero Title & Message on top of image */
  position: relative;
}

.hero-title {
  /* moves text to center of container */
  color: rgba(255, 255, 255, 0.87);
  text-align: center;

  /* Positioning title onto our hero image */
  position: absolute;
  top: 40%;
  width: 100%;
}

.hero-message {
  /* moves text to center of container */
  color: rgba(255, 255, 255, 0.87);
  text-align: center;

  /* Positioning Message onto our hero image */
  position: absolute;
  top: 60%;
  width: 100%;
}

/*******************************************/
/* GENERAL SECTION */
/*******************************************/

.center {
  /* centers item for us */
  text-align: center;
}

/*******************************************/
/* ADVENTURE TYPE SECTION */
/*******************************************/

.section-adventurer {
  font-size: 2rem;
  display: grid;

  justify-content: space-between;
  margin-bottom: 4rem;
  /* border: 0.2rem solid rgb(0, 141, 35); */
  gap: 3rem;
}

.adventurer-title {
  font-size: 5rem;
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.adventurer-type {
  /* background-color: #999; */
  /* border: 0.3rem solid rgb(0, 141, 35); */
  border: solid;
  padding: 2rem;
  /* Gives our container round edges */
  border-radius: 20px;
}

.adventurer-header {
  text-align: center;
}

.adventurer-btn {
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  color: rgb(0, 141, 35, 0.8);
  border: 0.25rem solid rgb(0, 141, 35, 0.8);
  border-radius: 7px;
}

.adventurer-description {
  padding: 2rem;
  text-align: none;
}

/* Color on click */
.adventurer-btn:hover,
.adventurer-btn:active {
  background-color: rgb(0, 141, 35, 0.8);
  color: #fff;
}

/*******************************************/
/* PART 1: CALM ADVENTURER DESCRIPTION SECTION */
/*******************************************/

.calm-section {
  /* Uncomment to visually see container */
  /* border: solid; */
  min-width: 50%;
  background-color: #f6f8fb;
  /* max-width: 120rem; */
  /* keeps calm-section centered at all times */
  margin: 0 auto;
  /* adds padding left and right side so text isnt against edge of page */
  padding: 2rem 3rem 7rem 3rem;
  border-top: 0.25rem solid rgb(0, 141, 35, 0.8);
  margin-top: 8rem;
  /* padding-bottom: 8rem; */
}

.calm-title {
  margin-bottom: 1rem;
  font-size: 4rem;
}

.calm-description {
  font-size: 1.5rem;
}

/* will hold our Description section(Left) and Photo Gallery(Right) */
.calm-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.calm-text {
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

.activities-available {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.calm-list {
  margin-bottom: 2rem;
}

.calm-btn {
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  padding: 1.2rem 1.8rem 1.2rem 1.8rem;
  color: rgb(0, 141, 35, 0.8);
  border: 0.25rem solid rgb(0, 141, 35, 0.8);
  border-radius: 7px;
}

.check-btn {
  /* add space between two buttons */
  margin-left: 2rem;
}

.adventurer-list {
  padding: 2rem;
  list-style: none;
}

/* Color on click */
.calm-btn:hover,
.calm-btn:active {
  background-color: rgb(0, 141, 35, 0.8);
  color: #fff;
}

.calm-btn:link,
.calm-btn:visited {
  /* background-color: #dddddd; */
}

.gallery {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10rem;
  column-gap: 0.4rem;
  row-gap: 0.4rem;
  align-content: center;
}

.gallery-item {
  /* Giving it a max-width/height */
  /* max-width: 19rem;
  max-height: 19rem; */
  /* setting images to 190px width height */
  width: 22rem;
  height: 22rem;
  row-gap: 0;
}

.activity-name {
  text-align: center;
  font-size: 2rem;
}

/*******************************************/
/* PART 2: ULTIMATE DESCRIPTION SECTION */
/*******************************************/
.ultimate-section {
  /* max-width: fit-content; */
  /* border: solid; */
  background-color: #f6f8fb;
  /* max-width: 120rem; */
  /* keeps calm-section centered at all times */
  margin: 0rem auto;
  /* margin-top: 8rem; */
  padding: 2rem 3rem 7rem 3rem;
  /* margin-top: 5rem;
  margin-bottom */
  /* adds color to bottom of block for separation */
  border-top: 0.25rem solid rgb(0, 141, 35, 0.8);
}

.ultimate-title {
  margin-bottom: 1rem;
  font-size: 4rem;
}

.ultimate-description {
  font-size: 1.5rem;
}

/* will hold our Description section(Left) and Photo Gallery(Right) */
.ultimate-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.ultimate-text {
  margin-bottom: 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

.ultimate-btn {
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1.2rem 1.8rem 1.2rem 1.8rem;
  color: rgb(0, 141, 35, 0.8);
  border: 0.25rem solid rgb(0, 141, 35, 0.8);
  border-radius: 7px;
}

.check-btn {
  /* add space between two buttons */
  margin-left: 2rem;
}

.adventurer-list {
  padding: 2rem;
  list-style: none;
}

/* Color on click */
.ultimate-btn:hover,
.ultimate-btn:active {
  background-color: rgb(0, 141, 35, 0.8);
  color: #fff;
}

.ultimate-btn:link,
.ultimate-btn:visited {
  /* background-color: #dddddd; */
}

.activity-name {
  text-align: center;
  font-size: 2rem;
}

/*******************************************/
/* MEMBER SECTION */
/*******************************************/

.member {
  /* background-color: #999; */
  max-width: 120rem;
  height: 80rem;
  margin: 0 auto;
  /* border: 0.4rem solid rgb(0, 141, 35);
   */
  /* border: solid; */
  padding: 1rem 1rem 6rem 3rem;
  /* margin: 0rem 5rem 2rem 5rem; */

  /* Position set to relative to help position our buttons */
  position: relative;
  /* background-color: #f6f8fb; */

  /* Gives our container round edges */
  border-radius: 11px;
}

.member-background {
  background-color: #f6f8fb;
  margin-bottom: 8rem;
}

.member-header {
  font-size: 5.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;

  /* adds color to bottom of block for separation */
  border-top: 0.25rem solid rgb(0, 141, 35, 0.8);
}

.member-title {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.perks-list {
  list-style: none;
  line-height: 3.5rem;
  font-size: 2rem;
}

/* .member-container {
  position: relative;
} */

.member-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  /* padding: 0.4rem 0.8rem 0.4rem 0.8rem; */
  padding: 1.1rem 1.8rem 1.2rem 1.8rem;

  /* clear buttons with green on hover/active */
  color: rgb(0, 141, 35, 0.8);
  border: 0.25rem solid rgb(0, 141, 35, 0.8);
  border-radius: 7px;

  /* GREEN buttons with grey font and grey border */
  /* border: 0.25rem solid #333;
  background-color: rgb(0, 141, 35, 0.8);
  color: #333; */

  /* positioning button at bottom/center of container */
  position: absolute;
  bottom: 5%;
  right: 44%;
}

.member-description {
  font-size: 2rem;
}

.member-btn:link,
.member-btn:visited {
  /* background-color: #dddddd; */
}

/* Color on click */
.member-btn:hover,
.member-btn:active {
  background-color: rgb(0, 141, 35, 0.8);
  color: #fff;
  border-color: #fff;
}

.member-cost {
  margin: 1rem 0;
  font-size: 2rem;
}

/*******************************************/
/* CAROUSEL SECTION - Displays all available activities */
/*******************************************/

.carousel-section {
  font-size: 5rem;
  font-weight: 700;
  padding: 1rem 1rem 1rem 2rem;
}

/*******************************************/
/* TESTIMONIALS SECTION - Display past customer testimonials */
/*******************************************/

.testimonials-section {
  font-size: 5rem;
  font-weight: 700;
  padding: 1rem 1rem 1rem 2rem;
}

/*******************************************/
/* PRICING SECTION - Display pricing options */
/*******************************************/

.pricing-section {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-size: 2rem;
  /* margin-bottom: 8rem; */
  /* equal space between our 3 flex items(2 cards + 1 Info section) */
  justify-content: center;
  column-gap: 5rem;
  padding-bottom: 8.5rem;
  padding-top: 3rem;
  position: relative;
}

.pricing-purchase {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 6rem 2rem 3rem 2rem;
}

.pricing-cost {
  font-size: 3rem;
}

.pricing-heading {
  font-size: 3rem;
  /* margin-top: 8rem; */
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.box-shadow {
  /* left(-)right(+), up(-)down(+), blur radius, spread radius*/
  /* box-shadow: 0rem 2rem 3rem 2rem rgb(0, 0, 0, 0.2); */
  box-shadow: 0rem 2rem 3rem 2rem rgb(0, 0, 0, 0.5);
}

.pricing-background {
  border-top: 0.25rem solid rgb(0, 141, 35, 0.8);
  /* background-color: #0055d4; */
}

.card-background {
  background-color: #f6f8fb;
  /* position: absolute; */
  /* z-index: 5; */
}
/* resize img to fit in card layout */
.pricing-img {
  height: 22rem;
  width: 37rem;
  /* background-size: cover; */
}

.pricing-img-background {
  /* spans it across this section */
  width: 192rem;
  /* keeps it at the height of container to not go in other sections */
  height: 84rem;
  position: absolute;
  z-index: -999;
  /* padding-right: 2rem; */

  /* background-image: linear-gradient(
      to right,
      rgba(34, 34, 34, 0.3),
      rgba(214, 4, 4, 0.884)
    ),
    url("../img/pricing-background1.jpg"); */
  background-image: cover;
}

/* rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.3) */

.pricing-header {
  font-size: 3rem;
  /* margin-bottom: 2rem; */
  padding: 2rem;
}

.pricing-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  /* margin-top: 1rem; */
  padding: 6px;

  /* clear buttons with green on hover/active */
  color: rgb(0, 141, 35, 0.8);
  border: 0.25rem solid rgb(0, 141, 35, 0.8);
  border-radius: 9px;

  /* GREEN buttons with grey font and grey border */
  border: 0.25rem solid #333;
  background-color: rgb(0, 141, 35, 0.8);
  color: #333;
}

.pricing-btn:hover,
.pricing-btn:active {
  color: #fff;
  background-color: rgb(0, 141, 35, 0.8);
}

/* for positioning button at the bottom of box */
.pricing-member-btn {
  position: absolute;
  bottom: 6%;
  left: 23%;
  right: 23%;
}

.membership-cost {
  position: absolute;
  font-size: 3.5rem;
  bottom: 5%;
  left: 23%;
}

.pricing-member {
  position: relative;
  text-align: center;
  /* margin-bottom: -5rem; */
  /* padding: 1rem; */
  /* max-width: 15%; */
  /* border: solid; */
}

.member-excl {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  text-decoration: 0.25rem underline;
  margin-bottom: 1rem;
}

.excl-text {
  font-size: 2.5rem;
  line-height: 3rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  gap: 1.5rem;
  padding: 0 2rem 0 4rem;
  font-size: 2rem; */
}

.list-packages {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 2rem 0 4rem;
  font-size: 2rem;
}

/* align our icon with text(previously check positioned higher than text */
.list-packages li {
  display: inline-flex;
}

.list-member {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 0 2rem 0 2rem;
  gap: 1rem;
  font-size: 2rem;
}

.list-member li {
  text-align: left;
}

.member-info-text {
  padding-top: 4rem;
  color: #888;
}

/* Using ionicon pack and customizing with following */
.icon-check {
  color: rgb(0, 141, 35, 0.8);
  width: 3rem;
  height: 3rem;
  padding-right: 1rem;
  /* box-sizing: border-box; */
}

.icon-x {
  color: rgba(212, 0, 0, 0.8);
  width: 3rem;
  height: 3rem;
  padding-right: 1rem;
  /* box-sizing: border-box; */
}

.strike {
  color: rgb(0, 141, 35, 0.8);
}
/*******************************************/
/* EMAIL SECTION - Sign up section */
/*******************************************/

.email-section {
  border: solid;
  margin-bottom: 5rem;
  padding: 1rem;
  border-radius: 11px;
}

.email-container {
  max-width: 80rem;
  margin: 0 auto;
  border-radius: 9px;

  background: linear-gradient(
    to right,
    rgba(0, 141, 35, 0.7),
    rgba(0, 98, 189, 0.7)
  );
}

.email-header {
  font-size: 4rem;
  margin-bottom: 1rem;
  align-items: center;
  text-decoration: underline 0.25rem;
}

.email-subheading {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.email-text {
  font-size: 1.9rem;
  line-height: 2.5rem;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem 1rem;
  /* align-items: ; */
  /* aligns 4 inputs into center of container */
  align-items: center;
  justify-items: center;
}
/* 247 x 27 */
.newsletter-btn {
  font-size: 2.3rem;
  font-weight: 700;
  border-radius: 9px;
  margin-top: 1.5rem;
  padding: 0.8rem 12rem 0.8rem 12rem;

  border: 0.25rem solid #333;
  background-color: rgb(0, 141, 35, 0.8);
  color: #333;
}

.newsletter-btn:hover,
.newsletter-btn:active {
  background-color: rgb(0, 141, 35, 0.8);
  color: #fff;
  /* border-color: #fff; */
  cursor: pointer;
}

/* Customize the 3 input fields in our newsletter-form */
.newsletter-form input {
  font-size: 2.5rem;
  border-radius: 7px;
  padding: 0rem 3rem 0rem 0.5rem;
}

/* Changes the <input placeholder=""> text INSIDE newsletter-form to light grey */
.newsletter-form input::placeholder {
  color: #aaa;
  font-size: 1.8rem;
  /* Give placeholder text space away from left size of input box */
  /* padding-left: -1rem; */
}

.newsletter-form label {
  /* display block puts our label text ABOVE input box */
  display: block;
  font-size: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
}
